.loginContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: auto;
    width: 400px;
}
.inputBox.loginInput {
    margin-bottom: 10px;
    width: 100%;
}