.cart {
    margin-top: 16px;
    padding: 0 8px;
}

.cartItemButton {
    background-color: white;
    height: 24px;
    margin-left: 8px;
    min-width: 24px;
}

.cartItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.cartItemMenu {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    width: 100%;
}

.cart button[type="submit"] {
    align-self: flex-end;
}

.cart form {
    display: flex;
    justify-content: flex-end;
}

.cartImage {
    box-shadow: 0px 0px 2px .5px grey;
    height: 100px;
    object-fit: cover;
    width: 100px;
}

.cartItemContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.productPrice {
    font-weight: bold;
}
.cartPreview {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    padding-bottom: 10px;
    position: absolute;
    right: 10px;
    top: 50px;
}