.searchResults {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.searchItem {
    padding: 1px 6px;
    border-radius: 4px;
}
.searchItem:hover {
    background-color: #5065a8;
    color: rgb(231, 231, 231);
}
.hidden {
    display: none;
}