.landingPage {
    display: grid;
    place-items: center;
}
.landingImage {
    object-fit: cover;
    width: 100%;
}
.discoverBox {
    width: 100%;
    height: 200px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(76,100,172,1) 25%, rgba(243,235,227,1) 78%);
    text-align: center;
    color: white;
}
.landingTitle {
    text-align: left;
    margin-bottom: 0px;
}
.categoryImage {
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.coverName {
    font-size: 45px;
    /* position: absolute;
    transform: translate(50%, 50%); */
} 
.discoverSubbox {
    display: flex;
}
.name {
    color: white;
    font-weight: bold;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.73);
    /* font-style: italic; */
}
.nameDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imageLinkContainer {
    display: block;
    margin-top: 20px;
    object-fit: cover;
    position: relative;
    text-align: center;
    transition: transform .4s;
}
.imageLinkContainer:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.categoryImageLinks {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}
.landingImage {
    width: 500;
}
@media (max-width: 600px) {
    .categoryImageLinks {
        flex-direction: column;
    }
    .categoryImage {

        height: 100px;
        gap: 2px;
    }
    .name {
        font-size: 20px;
    }
}