/* TODO Add site wide styles */
html {
    background-color: white;
}
body {
    margin: 0;
    padding: 0;
}
header {
    background-color: white;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 300px;
    right: -300px;
    transition: all 0.2s linear;
    background-color: whitesmoke;
    box-shadow: 0px 0 8px 1px lightgray;
}
  
main {
    margin-top: 54px;
    transition: all 0.2s linear;
    padding: 16px;
}

nav, .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 54px;
}
  