/* TODO: edit manage products page css */
.soldBox {
    background-color: rgba(214, 70, 70, 0.503);
    border: none;
    color: white;
    height: 245px;
    position: relative;
    top: -325px;
    z-index: 2;
}
.sold {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    top: 35%;
    transform: rotate(35deg);
    height: fit-content;
    left: 25%;
}
.manageContainer {
    height: fit-content;
}