/* TODO: edit manage products page css */
.soldBox {
    background-color: rgba(214, 70, 70, 0.503);
    border: none;
    color: white;
    position: relative;
    bottom: 297px;
    height: 245px;
    left: 1px;
}
.sold {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    top: 35%;
    transform: rotate(35deg);
    height: fit-content;
    left: 30%;
}
.manageContainer {
    height: 350px;
}