* {
  font-family: sans-serif;
}
.profile-dropdown {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 4px grey;
  list-style: none;
  padding: 10px;
  position: absolute;
  right: 15px;
  top: 48px;
  width: 120px;
  z-index: 3;
}
.fa-user-circle {
  color: gray;
  font-size: 30px;
}
button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
}
a {
  text-decoration: none;
}
.searchBarContainer {
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.hidden {
  display: none;
}

.navList {
  align-items: center;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  margin-left: -2px;
  padding: 0;
}

.searchBarForm {
  background-color: white;
  display: flex;
  margin: auto;
  max-width: 704px;
  position: relative;
  width: calc(42vw);
}

.searchBarInput {
  border: 2px solid black;
  border-radius: 4px;
  height: 30px;
  outline: none;
  overflow: hidden;
  padding-left: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.navItem {
  align-items: center;
  display: flex;
  list-style: none;
}

.headerContainer {
  align-items: center;
  border-bottom: 1px solid grey;
  display: flex;
  height: 30px;
  justify-content: space-between;
  margin: 0px auto 30px;
  padding: 12px 32px;
  position: sticky;
}
.fa-magnifying-glass {
  margin: 10px;
  position: absolute;
}
.confirmButtonDesign, .deleteButtonDesign, .buttonDesign {
  border-radius: 4px;
  /* box-shadow: 2px 4px 4px  #95b0b5; */
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 10px;
  text-align: center;
  width: 100%;
}

.confirmButtonDesign {
  background-color: #4dbecf;
}

.confirmButtonDesign:hover, .deleteButtonDesign:hover, .buttonDesign:hover {
  opacity: 75%;
}

.deleteButtonDesign {
  background-color: rgb(214, 70, 70);
}
.buttonDesign {
  background-color: grey;
  margin: 2px 0px;
  width: 100%;
}

.errors {
  color: red;
  font-size: 14px;
  justify-content: center;
  list-style: none;
  margin: 10px 0px;
  padding-inline-start: 0;
}
.dropdownLink {
  cursor: pointer;
  width: 100%;
  color: rgb(90, 90, 90);
}
.dropdownLink:hover {
  font-weight: bold;
  color: #2b9eb0;
}

.dropdownButton {
  width: 100%;
  
}
.active{
  color: none;
}
.buttonLink {
  color: #4dbecf;
  font-size: 16px;
  font-weight: bold;
  padding: 2px;
}
.buttonLink:hover {
  text-decoration: underline;
}
.cartIcon {
  color: rgb(98, 98, 98);
  font-size: 22px;
}