* {
  font-family: sans-serif;
}
.profile-dropdown {
  position: absolute;
  background-color: white;
  z-index: 1;
  box-shadow: 0px 0px 4px grey;
  top: 48px;
  width: 120px;
  right: 15px;
  padding: 10px;
  list-style: none;
  border-radius: 6px;
  
}
.fa-user-circle {
  font-size: 24px;
  color: gray;
}
button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
a {
  text-decoration: none;
}
.searchBarContainer {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.navList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-left: -2px;
  padding: 0;
}

.searchBarForm {
  position: relative;
  margin: auto;
  display: flex;
  width: calc(42vw);
  max-width: 704px;
  background-color: white;
}

.searchBarInput {
  border-radius: 4px;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  border: 2px solid black;
  width: 100%;
  text-overflow: ellipsis;
  outline: none;
  padding-left: 30px;
  
}

.navItem {
  list-style: none;


  display: flex;
  align-items: center;
}

.headerContainer {
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: space-between;
  margin: 0px auto 30px;
  border-bottom: 1px solid grey;
  padding: 12px 32px;
  z-index: 3;
  position: sticky;
}
.fa-magnifying-glass {
  position: absolute;
  margin: 10px;
}