* {
  font-family: 'Oswald', sans-serif;
}
.profile-dropdown {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  list-style: none;
  padding: 10px;
  position: absolute;
  right: 30px;
  top: 55px;
  width: 120px;
  z-index: 3;
}
.fa-bars {
  color: gray;
  font-size: 20px;
}
button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a {
  padding: 0px;
}
.searchBarContainer {
  display: flex;
  flex-direction: column;
  height: 36px;
}

.hidden {
  display: none;
}

.navList {
  align-items: center;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  margin-left: -2px;
  padding: 0;
}

.searchBarForm {
  background-color: #fffefa;
  display: flex;
  margin: auto;
  max-width: 704px;
  position: relative;
  width: calc(42vw);
}

.searchBarInput {
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 4px;
  height: 30px;
  outline: none;
  overflow: hidden;
  padding-left: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.navItem {
  align-items: center;
  display: flex;
  list-style: none;
}

.headerContainer {
  align-items: center;
  background-color: #ffffff;
  /* border-bottom: 1px solid lightgray; */
  display: flex;
  height: 40px;
  justify-content: space-between;
  margin: 0px auto;
  padding: 12px 32px;
  position: sticky;
}
.fa-magnifying-glass {
  margin: 10px;
  position: absolute;
}
.confirmButtonDesign, .deleteButtonDesign, .buttonDesign, .soldButton {
  border-radius: 4px;
  box-shadow: 2px 4px 4px  #95b0b5;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 10px;
  text-align: center;
}
.soldButton {
  border-radius: 4px;
  box-shadow: 2px 4px 4px  #95b0b5;
  color: white;
  background-color: rgba(214, 70, 70, 0.503);;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 10px;
  text-align: center;
  cursor: default;
}
.confirmButtonDesign {
  background-color: #76d3ff;
}
.confirmButtonDesign:hover {
  background-color: #76d4ffbf;
}

.deleteButtonDesign {
  background-color: rgb(214, 70, 70);
}
.deleteButtonDesign:hover {
  background-color: rgba(214, 70, 70, 0.75);
}

.buttonDesign {
  background-color: grey;
  margin: 2px 0px;
}
.buttonDesign:hover {
  background-color: rgba(128, 128, 128, 0.75);
}

.errors {
  color: red;
  font-size: 14px;
  justify-content: center;
  list-style: none;
  margin: 10px 0px;
  padding-inline-start: 0;
}
.dropdownLink {
  color: #4cc6ff;
  cursor: pointer;
  font-weight: bold;
  padding: 1px;
  width: 100%;
}
.dropdownLink:hover {
  text-decoration: underline;
}

.dropdownButton {
  width: 100%;
}
.active{
  color: none;
}
.buttonLink {
  color: #4cc6ff;
  font-size: 16px;
  font-weight: bold;
  padding: 2px;
}
.buttonLink:hover {
  text-decoration: underline;
}
.cartIcon {
  color: grey;
  font-size: 22px;
}
.cartButton {
  position: relative;

}
#cartCount {
  display: flex;
  border-radius: 50%;
  right: -10px;
  top: -10px;
  height: 18px;
  width: 18px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  background-color: rgb(214, 70, 70);
  color: white;
  position: absolute;
  font-size: 13px;
  z-index: 3;
  margin: 0px;
}
@media (max-width: 600px) {
  .headerContainer {
    padding-bottom:  10px;
  }
  #site-logo {
    width: 200px;
  }
  .searchBarForm {
    width: 95px;
  }
}