.productItem {
    background-color: white;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    display: flex;
    list-style: none;
    width: 245px;
}
.loading {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.5s linear infinite;
}
.loadingContainer {
    width: 100px;
    margin: auto;
    padding: auto;
    top: 100px;
    position: relative;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* run will move left to right */
/* @keyframes run {
    0% { left: 0;}
    50% { left : 100%;}
    100% { left: 0;}
} */

.productPriceSize {
    font-size: 17px;
    display: flex;
    justify-content: space-around;
    background-color: #fffefa;
    padding: 10px;
}
.productPriceSize:hover {
    background-color: whitesmoke;
}
.productsListContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.productsList {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) */
        
}
.productImagesList {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.productTileImage {
    height: 245px;
    object-fit: cover;
    object-position: top;
    width: 245px;
}
.productImagesContainer {
    display: flex;
}
.productImageItem {
    height: 400px;
    object-fit: cover;
}
.imageTileContainer {
    max-width: 100%;
}

.manageProductsContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.editDeleteDiv {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.manageButtonContainer {
    display: flex;
    min-width: fit-content;
    width: 25%;
}
.productsFilterContainer {
    display: flex;
}
.filters {
    display: block;
    margin: 20px;
    position: relative;
}
.productFilter {
    margin: 20px;
}

@media (max-width: 1044px) {
    .productsList {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 764px) {
    .productsList {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px) {
    .productsList {
        grid-template-columns: repeat(1, 1fr);
    }
    .productsFilterContainer {
        justify-content: center;
    }
}