.newProductContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.productForm {
    display: inline-flex;
    flex-direction: column;
    width: 500px;
    margin-bottom: 50px;
}
.formItemContainer {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}
.inputBox {
    align-items: center;
    border: 1px solid #4dbecf;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 30px;
    padding-left: 10px;
}
select.inputBox {
    padding-top: 0px;
}
.dollarSign {
    padding: 0px 8px;
    padding-top: 27px;
    position: absolute;
}
.inputBox.priceInput {
    padding-left: 20px;
}
/* .inputBox:focus {

    ;
} */
select {
    padding-top: 5px;
}
.formButton {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: auto;
    width: fit-content;
}
.textarea {
    height: 100px;
    padding-top: 5px;
    resize: none;
}
