.userDetails {
    display: flex;

}
.profilePicture {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100px;
    margin: auto;
    padding: auto;
    justify-content: center;
}
.details {
    padding: 2px;
}
.username {
    font-weight: bold;
}
.productsSold {
    font-size: 14px;
}
.userReviews {
    display: flex;  
    justify-content: center;
    flex-direction: column;
}
.userInitials {
    display: flex;
    width: 50%;
    height: 50%;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: grey;
    color: white;
    border-radius: 50%;
}

.active {
    color: gold
}
.inactive {
    color: grey;
}