.userDetails {
    display: flex;
}
.fullName {
    font-size: 20px;
}
.profilePicture {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100px;
}
.details {
    padding: 2px;
    margin: 0px;
}
.username {
    font-weight: bold;
}
.productsSold {
    font-size: 14px;
}
.userReviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.userInitials {
    align-items: center;
    background-color: grey;
    border-radius: 50%;
    color: white;
    display: flex;
    font-weight: bold;
    height: 50%;
    justify-content: center;
    text-transform: uppercase;
    width: 50%;
}
.activeStar {
    color: #FFC000;
}
.inactiveStar {
    color: grey;
}