.ordersContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: auto;
    align-items: center;
}
.orderItem {
    display: flex;
    padding: 10px 0px;
    margin: 5px;
    border: 1px solid whitesmoke;
    background-color: white;
    border-radius: 4px;
    justify-content: space-between;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    width: 500px;

}
#orderImage {
    height: 150px;
    width: 150px;
}
.orderDetails {
    width: 350px;
}
.editButton, .deleteButton, .createButton {
    border: 2px solid grey;
    padding: 2px 6px;
    border-radius: 6px;
}
.orderReview {
    margin: 10px;
    padding: 10px;
    background-color: rgb(243, 243, 243);
    border-radius: 4px;
}
#review {
    margin-left: 10px;
}
.thinButton {

    width: fit-content;


}