.checkoutItemsContainer {
    width: 600px;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
}
.checkoutItemsContainer .cartImage {
    height: 100px;
    width: 100px;
}
.checkoutItemsContainer .productInfo {
    width: 200px;
}